*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
input,button{
  outline: none;
}
.page-header {
  border: 1px solid #B4BBE2;
}
.header-container{
  max-width: 1120px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex-direction: none;
}
.menu {
  margin-right: 32px;
  position: relative;
}
.menu-list {
  position: absolute;
  right: 0;
  width: 300px;
  border: 1px solid rgb(1,1,1);
  padding-left: 32px;
  background-color: #fff;
}
.menu-link {
  color: #787885;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  padding-bottom: 31px;
}
.fa.fa-bars {
  font-size: 32px;
  color: #2264D1;
}
.search-group {
  position: relative;
}
.search {
  width: 430px;
  height: 48px;
  background: #EDEDF0;
  border-radius: 99px;
  border: none;
  padding: 0 48px;
}
.header-center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.search-icon {
  position: absolute;
  width: 17.5px;
  height: 17.5px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.header-right {
  display: flex;
  align-items: center;
}
.cart {
  position: relative;
}
.cart-amount {
  position: absolute;
  font-size: 10px;
  font-weight: 700;
  top: 0;
  left: 22px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: rgb(243, 113, 20);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.fa.fa-shopping-cart{
  font-size: 24px;
  color:#2264D1;
}
.btn {
  text-align: center;
  border-radius: 4px;
  border: none;
}
.btn-secondary {
  color:#2264D1;
  background-color: #fff;
}
.sign-in {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  height: 40px;
  font-family: Quicksand;
  margin-left: 34px;
  margin-right: 28px;
}
.btn-primary {
  line-height: 40px;
  font-size: 20px;
  font-weight: 700;
  width: 104px;
  height: 40px;
  background-color: #2264D1;
  color: #fff;
  font-family: Quicksand;
}
.container {
  margin-top: 26px;
  width: 100%;
}
.main-wrap {
  width: 1120px;
  margin: auto;
}
.banner-img {
  width: 100%;
  background-size: cover;
}
.toolbar {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.sort-uselessFirst {
  width: 142px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #5A5B6A;
}
.sort {
  position: relative;
}
.sort::before {
  position: absolute;
  top: -5px;
  left: 12px;
  content: "SORT BY";
  font-size: 10px;
  font-weight: 500;
  color: #787885;
  background-color: #fff;
  padding-left: 2px;
  padding-right: 2px;
}
.sort-condition {
  width: 118px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #B4B4BB;
}
.sort-delivery {
  width: 158px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #B4B4BB;
}
.action {
  display: flex;
}
.action-btn {
  width: 85px;
  height: 36px;
  font-size: 14px;
  font-weight: 400;
  background-color: #EBF2FF;
}
.action-btn:nth-child(2),
.type-show-btn:nth-child(2) {
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px #1B4EA3;
}
.type-show {
  margin-left: 24px; 
}
.type-show-btn {
  width: 68px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.product{
  width: calc(25% - 10px);
  padding: 16px 16px 12px 16px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 24px;
}
.product:hover {
  box-shadow: 0px 4px 8px 0px #5A5B6A;
}
.product-content {
  font-family: Inter;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color:#19191D;
  margin-top: 12px;
  height: 74px;
}
.product-price {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}
.product-detail {
  height: 41px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 9px;
  color:#787885;
}
.btn-add-cart {
  width: 105px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #9DC2FF;
}
.product-info-group {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-extra {
  width: 70px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  font-weight: 400;
}
.product-cool-deal {
  background-color: #FDEDF2;
  color: #C23564;
}
.product-sale {
  background-color: #ECF7ED;
  color: #37833B;
}