*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p, span, h4, input, a, select, option, button, label {
  font-family: 'inter', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
input,button{
  outline: none;
}
.page-header {
  border-bottom: 1px solid #B4BBE2;
}
.container{
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}
.container.header-wrap {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex-direction: none;
}
.menu {
  margin-right: 32px;
  position: relative;
}
.menu-list {
  position: absolute;
  right: 0;
  width: 300px;
  border: 1px solid rgb(1,1,1);
  padding-left: 32px;
  background-color: #fff;
}
.menu-link {
  color: #787885;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  padding-bottom: 31px;
}
.fa.fa-bars {
  font-size: 32px;
  color: #2264D1;
}
.search-group {
  position: relative;
}
.search {
  width: 430px;
  height: 48px;
  background: #EDEDF0;
  border-radius: 99px;
  border: none;
  padding: 0 48px;
  font-size: 20px;
  font-weight: 400;
}
.header-center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.search-icon {
  position: absolute;
  width: 17.5px;
  height: 17.5px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.search-icon .fa-search {
  font-size: 17.5px;
  color: #787885;
}
.header-right {
  display: flex;
  align-items: center;
}
.cart {
  position: relative;
}
.cart-amount {
  position: absolute;
  font-size: 10px;
  font-weight: 700;
  top: 0;
  left: 22px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: rgb(243, 113, 20);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.fa.fa-shopping-cart{
  font-size: 24px;
  color:#2264D1;
}
.btn {
  text-align: center;
  border-radius: 4px;
  border: none;
}
.btn-secondary {
  color:#2264D1;
  background-color: #fff;
  border: 1px solid #9DC2FF;
}
.btn-secondary:hover {
  background-color: #2264D1;
  color: #fff;
}
.sign-in {
  margin-left: 34px;
  margin-right: 28px;
  color:#2264D1;
}
.sign-in, .btn-primary {
  line-height: 40px;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
}
.btn-primary {
  width: 104px;
  height: 40px;
  background-color: #2264D1;
  color: #fff;
}
.container.banner {
  padding-top: 26px;
}
.banner-img {
  width: 100%;
  background-size: cover;
}
.toolbar {
  padding: 30px 16px 40px 16px;
  display: flex;
  justify-content: space-between;
}
.sort {
  position: relative;
}
.sort > select{
  border-radius: 4px;
  padding-left: 12px;
  font-size: 14px;
  height: 36px;
}
.sort-uselessFirst {
  width: 142px;
  border: 1px solid #5A5B6A;
  font-weight: 500;
  color: #19191D;
}
.sort::before {
  position: absolute;
  top: -5px;
  left: 12px;
  content: "SORT BY";
  font-size: 10px;
  font-weight: 500;
  color: #787885;
  background-color: #fff;
  font-family: 'inter', sans-serif;
}
.sort-condition {
  width: 118px;
  border: 1px solid #B4B4BB;
  font-weight: 400;
  color: #787885;
}
.sort-delivery {
  width: 158px;
  border: 1px solid #B4B4BB;
  font-weight: 400;
  color: #787885;
}
.action {
  display: flex;
}
.action-group, .type-show {
  border-radius: 4px;
  background-color: #EBF2FF;
  display: flex;
}
.action-btn >input {
  display:none;
}
.action-btn >label {
  background-color:#EBF2FF;;
  font-size: 14px;
  font-weight: 400;
}
.action-btn {
  line-height: 36px;
  width: 85px;
  height: 36px;
  font-size: 14px;
  font-weight: 400;
  background-color: #EBF2FF;
}
.action-btn:nth-child(2),
.type-show-btn:nth-child(2) {
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24);
}
.action-btn:nth-child(2) >label {
  background-color: #fff;
}
.type-show {
  margin-left: 24px; 
}
.type-show .action-btn {
  width: 68px;
}
.action-btn .fa.fa-list {
  color: #787885;
  font-size: 17px;
}
.action-btn .fa.fa-th-large {
  color: #2979FF;
  font-size: 18px;
}
.grid-list {
  display: flex;
  flex-wrap: wrap;
}
.products {
  margin-bottom: 104px;
  padding: 0 11px;
}
.grid-item {
  width: calc(25% - 10px);
  margin: 0 5px 16px 5px;
  padding: 16px 16px 12px 16px;
  border-radius: 8px;
}
.product{
  transition: all 0.5s;
}
.product:hover {
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2);
}
.product-content {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color:#19191D;
  margin-top: 12px;
  height: 74px;
}
.product-price {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}
.product-detail {
  height: 41px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 9px;
  color:#787885;
}
.btn-add-cart {
  line-height: 20px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 14px;
}
.product-info-group {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-extra {
  width: 70px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  font-weight: 400;
}
.product-cool-deal {
  background-color: #FDEDF2;
  color: #C23564;
}
.product-sale {
  background-color: #ECF7ED;
  color: #37833B;
}
.page-footer {
  background-color:#2264D1;
  height: 275px;
}
.footer-wrap {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.footer-wrap > p{
  text-align: center;
  color: #fff;
}
.footer-text-top {
  font-size: 16px;
  font-weight: 400;
  opacity: 50%;
}
.footer-text-middle {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  margin-top: 15px;
  margin-bottom: 16px;
}
.footer-text-bottom {
  font-size: 14px;
  font-weight: 500;
  opacity: 50%;
}
