*, *::after, *::before {
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.container {
  max-width: 1152px;
  max-width: 72rem;
  width: 100%;
  margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap; }

.col-1 {
  width: 8.33333%;
  padding: 0; }

.col-2 {
  width: 16.66667%;
  padding: 0; }

.col-3 {
  width: 25%;
  padding: 0; }

.col-4 {
  width: 33.33333%;
  padding: 0; }

.col-5 {
  width: 41.66667%;
  padding: 0; }

.col-6 {
  width: 50%;
  padding: 0; }

.col-7 {
  width: 58.33333%;
  padding: 0; }

.col-8 {
  width: 66.66667%;
  padding: 0; }

.col-9 {
  width: 75%;
  padding: 0; }

.col-10 {
  width: 83.33333%;
  padding: 0; }

.col-11 {
  width: 91.66667%;
  padding: 0; }

.col-12 {
  width: 100%;
  padding: 0; }

.articles-wrap {
  padding: 16px;
  padding: 1rem;
  background-color: #e6e4e4; }

.article {
  margin: 16px 0px;
  margin: 1rem 0rem;
  padding: 16px;
  padding: 1rem;
  border-radius: 8px;
  border-radius: 0.5rem;
  background-color: #ffffff; }

.img {
  height: 250px;
  height: 15.625rem;
  width: 100%; }

.content {
  padding: 16px;
  padding: 1rem; }
  .content .category {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    color: #e91f1f; }
  .content .title {
    font-size: 24px;
    font-size: 1.5rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    font-weight: 600; }
  .content .desc {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 500;
    color: #9b9b9b; }
  .content .group-info {
    display: flex;
    color: #9b9b9b; }
    .content .group-info .author {
      font-size: 16px;
      font-size: 1rem;
      margin-right: 24px;
      margin-right: 1.5rem;
      color: #3b3b3b; }
    .content .group-info .create-date {
      margin-right: 24px;
      margin-right: 1.5rem; }
