.banner {
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/banner.png");
  height: 800px;
  width: 100%;
  margin-bottom: 48px;
}
.banner-title {
  padding: 222px 0 24px;
  margin-left: 96px;
  line-height: 1;
  max-width: 403px;
  color: map-get($color, secondary-text-color);
  .text-special {
    color: map-get($color, base-color);
  }
}
.shopping {
  margin-left: 96px;
  display: flex;
  align-items: center;
  .shopping-text {
    font-size: map-get($font-size, md-text-size);
    font-weight: map-get($font-weight, bold-weight);
    padding-left: 21px;
    color: map-get($color, secondary-text-color);
  }
}
.banner-footer-list {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  width: 1100px;
  padding: 38px 88px 24px 240px;
  border-top-right-radius: 70px;
}
.banner-footer {
  .banner-footer-item {
    display: flex;
    .banner-footer-icon {
      width: 36px;
      height: 36px;
      margin-right: 21px;
    }
  }
  .banner-footer-detail {
    .banner-footer-name {
      margin-bottom: 4px;
      font-weight: bold;
    }
    .banner-footer-description {
      font-size: map-get($font-size, xs-text-size);
      color: #a8a8a8;
    }
  }
}
@media only screen and (max-width: map-get($grid-breakpoints, sm )) {
  .banner {
    margin-bottom: 24px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/banner-sm.png");
    height: 740px;
    .container {
      .banner-title,
      .shopping {
        margin-left: 0;
      }
      .banner-title {
        font-size: 48px;
      }
      .row {
        display: none;
      }
    }
  }
  .shopping {
    padding-left: 11px;
    .shopping-text {
      font-size: map-get($font-size, base-text-size);
    }
  }
}
