.benefits {
  background-color: #f7f7f7;
  margin-top: 60px;
  .container {
    .section-title {
      padding: 48px 0;
    }
  }
}
.benefit-list {
  padding-bottom: 54px;
}
.benefit-item {
  .benefit-item-infor {
    .benefit-name {
      font-size: 16px;
      font-weight: map-get($font-weight, bold-weight);
      margin: 46px 0 16px;
    }
    .benefit-description {
      color: #808080;
    }
  }
}
@media only screen and (max-width: map-get($grid-breakpoints, sm )) {
  .benefits {
    .container {
      .section-title {
        padding: 24px 0 36px;
      }
    }
  }
  .benefit-list {
    padding-bottom: 8px;
  }
  .benefit-item {
    display: flex;
    margin-bottom: 16px;
    .benefit-item-infor {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 8px 0 4px;
      margin-left: 17px;
      .benefit-name {
        margin: 0;
        font-size: map-get($font-size, xs-text-size);
      }
      .benefit-description {
        font-size: map-get($font-size, xxs-text-size);
      }
    }
  }
}
