.category-item {
  position: relative;
  height: 360px;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $base-text-color;
    opacity: 0.5;
  }
  > img {
    width: 100%;
  }
  .category-name {
    position: absolute;
    top: 50%;
    left: 40px;
    font-size: $md-text-size;
    color: $secondary-text-color;
    &.badge-sale::after {
      @extend %badge-sale;
      content: "-50%";
      left: 0;
      bottom: calc(100% + 8px);
    }
  }
  > a {
    position: absolute;
    left: 40px;
    bottom: 53px;
  }
}
@media only screen and (max-width: map-get($grid-breakpoints, sm )){
  .category-item {
    height: 225px;
    >img {
      height: 100%;
    }
    &:first-child {
      margin-bottom: 8px;
    }
    .category-name {
      position: absolute;
      left: 16px;
      bottom: 44px;
      top: unset;
      font-size: $base-text-size;
      &.badge-sale::after {
        font-size: 8px;
        padding: 2px;
      }
    } 
    >a {
      position: absolute;
      left: 16px;
      bottom: 16px;
    }
  }
}
