.category-item {
  position: relative;
  height: 360px;
  &::before {
    @include content-absolute(0,0,0,0);
    content: "";
    background-color: $base-text-color;
    opacity: 0.5;
  }
  > img {
    @include img-style;
  }
  .category-name {
    @include content-absolute(50%, 40px);
    @include text-style($font-size: $md-text-size);
    &.badge-sale::after {
      @include badge-sale(0);
      content: "-50%";
      bottom: calc(100% + 8px);
    }
  }
  > a {
    @include content-absolute($left: 40px, $bottom: 53px);
  }
}
@media only screen and (max-width: map-get($grid-breakpoints, sm )){
  .category-item {
    height: 225px;
    &:first-child {
      margin-bottom: 8px;
    }
    .category-name {
      font-size: $base-text-size;
      @include content-absolute($left: 16px, $bottom: 44px);
      &.badge-sale::after {
        font-size: 8px;
        padding: 2px;
      }
    } 
    >a {
      @include content-absolute($left: 16px, $bottom: 16px);
    }
  }
}
