.subcribe {
  @include flex(space-between);
  background: linear-gradient(90deg, rgba(0,0,0,0.7) 33.28%, rgba(0, 0, 0, 0) 94.05%), url("../img/footer.png");
  @include img-style(100%, 241px);
  position: relative;
  .container {
    @include flex(space-between);
  }
  .subscribe-title {
    max-width: 493px;
    @include text-style($font-size: $md-text-size);
  }
  .form-subscribe {
    .email {
      padding: 14px 23px;
      border-radius: 61px;
      width: 351px;
      margin-right: 40px;
      @include text-style($sm-text-size, $color: #ABABAB)
    }
  }
}
@media only screen and (max-width: map-get($grid-breakpoints, sm )){
  .subcribe {
    height: 217px;
    .container {
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      height: 100%;
    }
    .subscribe-title {
      max-width: 200px;
      font-size: $base-text-size;
    }
    .form-subscribe {
      .email {
        padding: 6px 12px;
        border-radius: 61px;
        width: 100%;
        margin-bottom: 16px;
        font-size: $xs-text-size;
      }
    }
  }
}