.btn {
  @include button-style(14px, 30px);
  @include text-style($sm-text-size,$bold-weight,$text-line-height,$base-text-color);
  &.btn-primary {
   @include button-style(14px, 18px, 24px);
  }
  &.btn-secondary {
    border-radius: 39px;
    border: 1px solid #C4C4C4;
  }
  &.btn-subscribe {
    border-radius: 56px;
    background-color: $base-color;
  }
}
@media only screen and (max-width: map-get($grid-breakpoints, sm )){
  .btn {
    @include button-style(3px, 10px);
    font-size: $xxs-text-size;
    &.btn-primary {
      @include button-style(3px, 10px);
      border-radius: 24px;
    }
    &.btn-secondary {
     font-size: $xxs-text-size;
     border: none;
    }
    &.btn-subscribe {
      padding: 7px 20px;
    }
  }
}