$font-size: (
  xs: 10px,
  s: 12px,
  m: 14px,
  l: 16px,
  lg: 18px,
  xxl: 24px,
);
$color: (
  light: #9b9b9b,
  white: #ffffff,
  background-light: #e6e4e4,
  red-text: #e91f1f,
  base-text: #3b3b3b,
);
