
body {
  font-family: $base-font-family;
  font-size: map-get($font-size, base-text-size);
  font-weight: map-get($font-weight, weight-primary);
  line-height: $text-line-height;
  color: map-get($color, base-text-color);
}
