%flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
};
%badge-sale {
  position: absolute;
  background-color: $sale-color;
  font-size: 12px;
  font-weight: bold;
  color: $secondary-text-color;
  display: block;
  padding: 6px 9px;
  border-radius: 20px;
}