.container {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -#{$col-padding};
  margin-right: -#{$col-padding};
}
.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: $col-padding;
  padding-right: $col-padding;
}
.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}
@include columns($grid-columns);
.grid-list {
  display: flex;
  justify-content: space-between;
}
@include columsResponsive(map-get($grid-breakpoints, sm ), sm, $grid-columns, $col-padding-sm, 327px);
