.container {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin:0 -#{$col-padding};
}
.row.no-gutters {
  margin: 0;
}
.col {
  padding:0 $col-padding;
}
.row.no-gutters .col {
  padding: 0;
}
@for $i from 1 through $grid-columns {
  .col-#{$i}{
    width: percentage($i/$grid-columns);
  }
}
.grid-list {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: map-get($grid-breakpoints, sm )) {
  .container {
    max-width: 327px;
    width: 100%;
  }
  .row {
    margin: 0 -#{$col-padding-sm};
  }
 @for $i from 1 through $grid-columns {
   .col-sm-#{$i} {
    width: percentage($i/$grid-columns);
    padding: 0 $col-padding-sm;
   }
 }
}
