.page-footer {
  background-color: $base-color;
  .container {
    padding-top: 40px;
    .footer-top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 51px;
    }
  }
  .footer-bottom-text {
    text-align: center;
    color: $secondary-text-color;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid #fff;
  }
}
.footer-top-left {
  max-width: 373px;
  .infor-content {
    padding-top: 24px;
    color: $secondary-text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: $text-linehight;
  }
  .social-group {
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
  }
}
.footer-content {
  width: 100%;
  margin-left: 170px;
  .footer-content-item {
    width: 33.33%;
  }
}
.infor-shop-content {
  .infor-shop-name {
    font-size: 16px;
    font-weight: 700;
    line-height: $text-linehight;
    color: $secondary-text-color;
    margin-bottom: 19px;
  }
}
.infor-shop {
  padding-bottom: 15px;
  > a, >p{
    font-size: 14px;
    font-weight: 400;
    line-height: $text-linehight;
    color: $secondary-text-color;
  }
}
.social-icon {
 .icon {
   color: $secondary-text-color;
   font-size: 18px;
 }
}