.page-footer {
  background-color: $base-color;
  .container {
    padding-top: 40px;
    .footer-top {
     @include flex(space-between);
      padding-bottom: 51px;
    }
  }
  .footer-bottom-text {
    padding: 24px 0;
    text-align: center;
    border-top: 1px solid #fff;
    @include text-style($font-size: $sm-text-size);
  }
}
.footer-top-left {
  max-width: 373px;
  .infor-content {
    padding-top: 24px;
    @include text-style;
  }
  .social-group {
    display: flex;
    margin-top: 58px;
    .social-item {
      margin-right: 33px;
    }
  }
}
.footer-content {
  width: 100%;
  margin-left: 170px;
}
.infor-shop-content {
  .infor-shop-name {
    @include text-style($font-size: 16px, $font-weight: $bold-weight);
    margin-bottom: 19px;
  }
}
.infor-shop {
  padding-bottom: 15px;
  > a, >p{
    @include text-style;
  }
}
.social-icon {
 .icon {
   color: $secondary-text-color;
   font-size: 18px;
 }
}
@media only screen and (max-width: map-get($grid-breakpoints, sm )){
  .footer-top, .footer-content {
    display: flex;
    flex-direction: column;
  }
  .footer-content {
    margin-left: -#{$col-padding-sm};
  }
}
