.header-page {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 999;
  padding-bottom: 10px;
    background: rgba(0, 0, 0, .7);
  .header-wrap {
    @extend .container;
    @extend %flex-space-between;
    padding-top: 55px;
  }
}
.menu-list {
  @extend %flex-space-between;
  margin-left: -96px;
  .menu-item {
    margin-left: 96px;
  }
  .menu-item > a {
    font-size: 18px;
    font-weight: map-get($font-weight, bold-weight);
    color: map-get($color, base-color);
  }
}
.header-left {
  a {
    font-size: unset;
  }
  .logo-sm {
    display: none;
  }
}
.header-right, .header-right-sm {
  display: flex;
}
.header-right-item {
  .header-right-link {
    padding-left: 24px;
  }
}
.header-right-sm {
  display: none;
}
@media only screen and (max-width: map-get($grid-breakpoints, sm )) {
  .header-page {
    background-color: #fff;
    .header-wrap {
      padding-top: 20px;
      padding-bottom: 20px;
      .header-center {
        display: none;
      }
    }
  }
  .header-left {
    margin: 0;
    .logo {
      display: none;
    }
    .logo-sm {
      display: block;
      line-height: 0;
    }
  }
  .header-right-item {
    .header-right-link {
      .icon {
        font-size: 20px;
        color: map-get($color, base-text-color);
      }
    }
  }
  .header-right {
    display: none;
  }
  .header-right-sm {
    display: flex;
  }
}
